// Navigation code here

.nav-bar {
    height: 100px;
    background: @nav-bg;
    border-bottom: 2px solid @nav-border;
    padding: 12px 0;

    h1 {
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        height: 50%;
    }
    nav {
        margin: 15px auto 0;
        max-width: 500px;
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: @nav-font;
        }
    }
}